{% extends "dashlayouts.html"%}

{% block content %}
<div class="container">
    <!-- {% include 'admin/navbar.html' %} -->
    <div class="my-2">
        <h3> Search Group name to displays its Users: </h3>
        <form action="" method="POST" style="width:100%">
            <div class="d-flex align-items-center">
                <input type="text" name="search" id="search" class="form-control my-1 w-50">
                <button type="submit" class="btn btn-success " style="margin-left:10px;">Search</button>
            </div>
        </form>
    </div>
    <div class="my-2">

        <h3> Available Groups are : </h3>
        {% for item in records %}
        <tr>
            <td>{{item}}</td><br>
        </tr>
        {% endfor %}
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Group Name</th>
                        <th>User Name</th>
                       
                        <!-- <th>Email</th>
                        <th>Edu</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for group in groups %}
                    <tr>
                        <td>{{group.groupname}}</td>
                        <td>{{group.username}}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}